body {margin: 0;}

.app-layout, .top-bar, .page-header, .bottom-bar, .cards-grid, .panels-row, .steps-grid, .breadcrumbs {
    display: flex;
    flex-direction: row;
}

.main-wrapper {
    width: 100%;
}

.sidebar, .top-bar, .page-header, .cards-grid, .panel-main, .panel-side, .panel-full, .steps-grid {
    padding: 0.5rem;
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100%;
    align-self: start;
}

/*
.active {
    border: 1px solid;
}
*/

.sidebar-header {
    padding: 0.3rem;
}

.sidebar-header h2, p {
    margin: 0;
}

.sidebar-header h2 {
    font-size: 1.4rem;
}

.sidebar-header p {
    font-size: 0.8rem;
}

.unidade-selector {
    margin: 0.5rem 0 0 0;
    padding: 0.3rem ;
    border: 1px solid;  
}

.unidade-selector small, p {
    margin: 0;
}



.top-bar, .page-header, .bottom-bar {
    align-items: center;
}

.top-bar, .page-header {
    justify-content: space-between;
}

.top-bar, .page-header, .cards-grid, .card-item, .panel-main, .panel-side, .panel-full, .step-card {
    border: 1px solid;
}

.top-bar {
    height: 4vh;
}

.user-avatar {
    padding: 0.2rem;
    border: 1px solid;
    border-radius: 50%;
}

.page-header a {
    border: 1px solid;
    padding: 0.3rem;
}

.bottom-bar {
    gap: 1rem;
}

.bottom-bar h1 {
    font-size: 1rem;
}

.cards-grid, .panels-row {
    flex-wrap: nowrap;
}

.cards-grid, .panels-row, .panel-full {
    margin: 1rem 0 0 0;
}

.card-item, .panel-main {
    margin: 0 1rem 0 0;
}

.card-item {
    width: 25%;
    padding: 0.3rem;
}

.panel-main {
    width: 70%;
}

.panel-side {
    width: 30%;
}

.module-item {
    flex: 1;
}

.steps-grid {
    flex-wrap: wrap;
    gap: 1.5rem;
}

.step-card {
    flex: 1 1 15em;
    padding: 0.2rem;
}

.breadcrumbs li::after {
    content: "/";
}

ol, ul {
    list-style: none;
    padding: 0;
}